@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body,
  #root {
    min-height: 100%;
  }
  body {
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: clip;
    @apply bg-background text-foreground text-sm;
  }
  img,
  video,
  canvas,
  svg {
    max-width: 100%;
    height: auto;
  }
  button,
  input,
  textarea,
  select {
    font-size: 16px;
  }
  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  h3 {
    @apply text-lg md:text-xl;
  }
  h4 {
    @apply text-base md:text-lg;
  }
  p {
    @apply text-sm leading-relaxed;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(229 231 235 / 1);
}
::-webkit-scrollbar-thumb {
  background: rgb(54 153 243 / 1);
  border-radius: 10px;
}

/* Animations */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.shimmer {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Disabale text selection for labels that user not active with */
/* Disable text selection everywhere */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Allow text selection in form controls */
input,
textarea,
select,
[contenteditable="true"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}